.tercer{
	margin-top: 250px;
	margin-left: 200px;
	float: left;
	width: 180px;
	height: 100px;
	background-color: blue;
	color: white;
	border-radius: 15px;
}

.media{
	margin-top: 170px;
	margin-right: 250px;
	float: right;
	width: 180px;
	height: 100px;
	background-color: blue;
	color: white;
	border-radius: 15px;

}