.tercer{
	margin-top: 250px;
	margin-left: 400px;
	float: left;
	width: 180px;
	height: 50px;
	background-color: blue;
	color: white;
	border-radius: 15px;
}

.media{
	margin-top: 165px;
	margin-right: 440px;
	float: right;
	width: 180px;
	height: 50px;
	background-color: blue;
	color: white;
	border-radius: 15px;

}